html {
  font-family: raleway, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin-left: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1px;
}

header .logo {
  padding: 25px 0px;
}

header .logo img {
  width: 150px;
}

header nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

header nav ul li {
  padding: 50px 25px;
  border-top: 4px solid transparent;
  margin: 0px 20px 0px 20px;
}

header nav ul li:hover {
  border-color: blue;
}

header nav ul li a {
  color: black;
  text-decoration: none;
}

header nav ul li:hover a {
  color: blue;
}




h1 {
  margin-bottom: 0px
}

.affichplus {
  display: block;
  margin-bottom: 20px;
}

.recherche {
  display: inline-block;

  border-radius: 15px;
  width: auto;
}

.recherche .fa-map-marker-alt {
  display: inline-block;
  padding: 14px;
  height: 28px;
  font-size: 25px;
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
}

.recherche input {
  outline: none;
  height: 52px;
  
  margin-left: -5px;
  border: none;
  padding: 10px;
}

.recherche .boutton {
  background-color: blue;
  color: white;
  height: 52px;
  border: none;
  border-radius: 0px 15px 15px 0px;
  padding: 15px;
  cursor: pointer;
}

.recherche .boutton .fa-search {
  display: none;
}


.filtre {
  display: flex;
  align-items: center;
}

.filtre .sousfiltre {
  margin: 0px 10px;
  border-radius: 30px;
  border: 2px solid #f2f2f2;
  display: flex;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 1s;
}

.filtre .sousfiltre i {
  background-color: blue;
  height: 50px;
  width: 50px;
  display: inline-block;
  border-radius: 100%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}



.filtre .sousfiltre .textfiltre {
  padding: 0px 10px;
}


.information {
  display: flex;
}

.information .fas.fa-info {
  background-color: blue;
  border: 1px solid #f2f2f2;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}



.bloc1 {
  display: flex;
  justify-content: space-between;
}

.bloc1 h2 {
  margin-top: 0px;
}

.bloc1 .avanttitle {
  background-color: #f2f2f2;
  padding: 20px 20px 10px 20px;
  border-radius: 20px;
  height: 95%;
  box-sizing: content-box;
}

.cubes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cubes a {
  width: 30%;
  margin-bottom: 50px;
}

.cubes a .apparts {
  background-color: white;
  padding: 6px;
  border-radius: 25px;
  height: 100%;
}

.cubes a div:hover {
  box-shadow: 5px 5px 5px 0px #E2E2E2;
}

.cubes a .apparts .fa-star.blue {
  color: blue;
}

.cubes a .apparts .fa-star #f2f2f2 {
  color: #f2f2f2;
}

.cubes a .apparts img {
  width: 100%;
  height: 200px;
  border-radius: 25px 25px 0px 0px;
  object-fit: cover;
}

.cubes a {
  color: black;
  text-decoration: none;
}

.cubes a .apparts .ttappart {
  padding: 10px 10px 0px 10px;
}

.cubes a .apparts .ttappart h3,
.cubes a .apparts .ttappart p {
  margin: 6px;
}





.bloc1 .heberg {
  width: 60%;
}

.bloc1 .heberg .detail1 {
  font-weight: bold;
  font-size: 120%;
}

.bleu{
  color:blue;
}

.gris{
  color: grey;
}

.bloc1 .pop .chart-icone {
  position: absolute;
  top: 20px;
  right: 20px;
}

.bloc1 .pop {
  width: 35%;
  position: relative;
}

.bloc1 .pop .cubes {
  flex-direction: column;
}

.bloc1 .pop .cubes a {
  width: 100%;
}

.bloc1 .pop .cubes a .apparts {
  display: flex;
  flex-direction: row;
}



.bloc1 .pop .cubes a .apparts img {
  border-radius: 25px 0px 0px 25px;
  width: 35%;
}

.bloc1 .pop .cubes a .apparts .ttappart {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


.bloc2{
  margin-bottom: 60px;
  ;
}

.activite {
  display: flex;
  justify-content: space-between;
  height: 600px;
}

.activite .column {
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 25px;
}

.activite .column .acts img {
  width: 100%;
  height: 75%;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}

.activite .column .acts {
  height: 100%;
  box-shadow: 0px 0px 10px 0px #E0E0E0;
  border-radius: 25px;
}

.activite .column .acts h3 {
  padding: 21px;
  margin: 0px;
}

.activite .column.double .acts {
  height: 48%;
}



footer {
  background-color: #f2f2f2;
  margin: 0px -50px;
  padding: 50px;
  display: flex;
}

footer .column {
  width: 30%;
}

footer .column ul {
  padding: 0px;
  list-style-type: none;
}

footer .column ul li a {
  color: black;
  text-decoration: none;
  line-height: 35px;
}

@media (max-width: 992px){
  .filtre {
    flex-wrap: wrap;
}

.bloc1 {
    flex-direction: column;
}


.bloc1 .pop {
    width: 100%;
    margin-bottom: 20px;
}

.bloc2 .activite {
    flex-wrap: wrap;
    height: auto;
}

.bloc2 .activite .column {
    width: 48%;
}

footer {
    justify-content: space-between;
}

footer .column {
    width: auto;
}

}

@media (max-width: 768px){

  body {
    padding: 0px 20px;
}

header {
    flex-direction: column;
}

header .logo {
    margin: auto;
}

header nav ul {
    margin: 0px -20px;
    padding: 0;
}

header nav ul li {
    width: 50%;
    padding: 20px;
    text-align: center;
    margin: 0px;
    border-top: none;
    border-bottom: 2px solid var(--grey);
}

.recherche .boutton {
    border-radius: 15px;
}

.recherche .boutton .div {
    display: none;
}

.recherche .boutton .fa-search {
    display: block;
}

.filtre {
    flex-direction: column;
    align-items: flex-start;
}
.heberg  {
  margin-bottom: 60px;
  order: 2;
  width:100%;
}
.heberg .avanttitle {
  
}

.heberg .populaire {
    order: 1;
}

.heberg .avanttitle .cubes {
    flex-direction: column;
}

.heberg .avanttitle .cubes a {
    width: 100%;
}

.bloc2 .activite .column {
    width: 100%;
}

.activite .column div,
.activite .column.double div {
    height: 250px;
    margin-bottom: 20px;
}

footer {
    flex-direction: column;
}


}