html {
  font-family: raleway, sans-serif;
  scroll-behavior: smooth;
}

body{
  margin: 0 ;
  box-sizing: border-box;
}


.imgheader {
  width: 110px;
  height: 70px;
  margin-right: 0px;
  object-fit: cover;
  
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-between;
}

nav li {
  margin: 0 10px 0 20px;
  border-bottom:solid 0px gray;

}
nav li:hover{
  color:blue;
}

a{
  
  text-decoration: none;
}

a:visited{
  color:blue;
  border-bottom:solid 0px ;
}

.active{
  color:blue;

}


h1 {
  font-size: 30px;
  margin-top: 30px;
}

.détail{
  margin-left: 40px;
}

.recherche{
  margin:60px;
  display: flex;
  align-items: center;
}



input{
 border: solid 2px rgb(211, 209, 209);  ;
 border-radius:  2px;
  font-size:20px;
  height: 50px;
  width: 200px;
  left: 90px;
}
.doticon{
  display: flex;
  justify-content: center;
  padding: 0px 10px ;
  align-items: center;
  width: 30px;
min-height:50px;
   background-color: rgb(211, 209, 209);  
  border-radius:  15px  0  0 15px;
}
.fa-location-dot{
margin-left: 10px;
  font-size :20px;
  height:100%;
  width:100%;

}

.icon-mobile{
  display: none;
}
  

.bouton{
  border-radius:   0  15px 15px  0;
  background-color:#0065FC;
  color:#FFFFFF;
  font-weight: bold;
  font-size: 15px;
  border: none;
  padding: 8px;
  height: 50px;
width: 120px;
}



.filtres{
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-top: 35px;
}
.typefiltres{
  display: flex;
  
  flex-flow: wrap;
}


main{
  width: 100%;
  height: 100%;

}

.money{
  display: flex;
  width:200px;
  height:50px;
  border:4px solid #F2F2F2;
  border-radius:  30px;
  margin-left: 30px;
  align-items: center;
  
}
.fa-money-bill-wave {
  margin-top: 15px;
font-size: 25px;
 margin-left: 15px;
 color:#0065FC;
}


.love{
  display: flex;
  width:200px;
  height:50px;
  border:4px solid #F2F2F2;
  border-radius:  30px;
  margin-left: 30px;
  align-items: center;
  
}
.fa-heart {
  margin-top: 15px;
font-size: 25px;
 margin-left: 15px;
 color:#0065FC;
}


.homme{
  display: flex;
  width:180px;
  height:50px;
  border:4px solid #F2F2F2;
  border-radius:  30px;
  margin-left: 30px;
  align-items: center;
  
}
.fa-child-reaching {
  margin-top: 15px;
font-size: 25px;
 margin-left: 20px;
 color:#0065FC;
}

.dog{
  display: flex;
  width:260px;
  height:50px;
  border:4px solid #F2F2F2;
  border-radius:  30px;
  margin-left: 30px;
  align-items: center;
  
}

.textf{
font-size: 20px;
font-style: bold;
color: black
}


.fa-dog {
  margin-top: 15px;
font-size: 25px;
 margin-left: 15px;
 color:#0065FC;
}


.fa-circle-info{
  color:#0065FC;
  font-size:25px;
  margin-right: 15px;
}

.cercle { 
  margin-left: 0;
  margin-right: 20px;
		height: 55px; 
		width: 60px; 
		background-color: #DEEBFF;
		border-radius: 50%; 
}


.info {
  margin: 45px;
  display: flex;
}





.bloc1 {
  display: flex;
  margin-left: 30px;
  flex-wrap: wrap-reverse;
}
.hebergement {
  background-color: #F2F2F2;
  border-radius: 30px;
  width: 100%;
flex:2;
  padding: 10px;
}

.hebtitle {
  font-size: 25px;
  margin-left: 40px;
  
}
.cubes1 {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-flow: wrap;
  gap: 15px;
}

.appart {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 270px;
  height: 270px;

  border-radius: 15px;
  flex-wrap: wrap;
  background-color: #fff;
}

.texte {
  justify-content: center;
} 

#bleu{
  color: #0065FC;
}
#gris{
  color: #7c7a7a;
}

h1 {
  margin-left: 30px;
}

.affichplus1{
  font-size: 19px;
  margin-left: 35px;
  margin-top: 10px;
}

p {
  padding-right: 10px;
}

img {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  object-fit: cover;
  padding: 10px;
}




.pluspop {
  background-color: #F2F2F2;
  border-radius: 40px;
  width: 100%;
  height: 700px;
  padding: 10px;
  margin-left: 30px;
  flex:1;
}

.hebpop {
  font-size: 20px;
  margin-left: 32px;
}

.Soustitle{
 margin: 0px;
 display: block;
  
}


.cubes2 {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-flow: wrap;
  gap: 15px;
}


.appartpop {
  display: flex;
  width: 90%;
  height: 170px;
  border-radius: 15px;
  background-color: #fff;
  padding: 0;
}

.pop {
  width: 40%;
  height: 90%;
  display: flex;
  object-fit: cover;
  border-radius: 15px;
}
.affichplus2{
  font-size: 18px;
  margin-left: 25px;
  margin-top: 35px;
}







.bloc2 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}

.acttitle {
  font-size: 25px;
  margin-left: 10px;
}
.activite {

  border-radius: 30px;
  width: 1350px;
  padding: 10px;
}

.cubes3 {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: center;
  width: 100%;
  gap: 10px;
}


.act1 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 600px;
  border-radius: 25px;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: 10px 5px 5px rgb(211, 209, 209);
  
}
.imgact1 {
  display: flex;
  width: 100%;
  height: 520px;
  padding-top: 0px;
  object-fit: cover;
  border-radius: 25px;
  border-radius:  25px 25px 0  0 ;
}

.big2 {
display: flex;
flex-wrap: wrap;
justify-content:center;
}
.act2 {
 
  display: flex;
  justify-content: center;
  width: max-content;
  max-width: 300px;
  height: 230px;
  border-radius: 25px;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: 10px 5px 5px rgb(211, 209, 209);
}
.imgact2 {

  display: flex;
  width: 100%;
  height: 70%;
  display: flex;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  object-fit: cover;
  border-radius:  25px 25px 0  0 ;
}


footer {
  display: flex;
  text-align: start;
  justify-content: center;
  
}
footer:hover {
  background-color: rgb(0, 81, 255);
  transition-duration: 1s;
}

.footer1{
  margin-right: 165px; 
}
.footer2{
margin-left: 150px;
}

.footer3{
  margin-left: 200px; 
  margin-right: 250px; 
}

@media (min-width:992px){
  .hebergement{
    flex:2;
  }
  
}


@media (max-width:768px){

  .bloc1 {
    display: flex;
    margin-left: 0px;
    flex-wrap: wrap-reverse;
  }
  
  .hebergement{
    flex:auto;
    background-color: transparent;
  }

  .appart {
    
    width: 100%;
    max-width: 370px;
    box-shadow: 10px 5px 5px rgb(211, 209, 209);

  }

  .money{
    margin-bottom: 20px;
  }

  .homme{
    margin-bottom: 20px;
  }

  .love{
    margin-bottom: 20px;
  }

  .cubes3{
    flex-flow:wrap;
  }
  .big2{
    flex-direction:column;
    gap:10px;
  }
  .act1{
    height: 230px;
    max-width:310px;
  }
  .act2{
    height: 230px;
    max-width:310px;
  }
  .imgact1{
    height: 70%;
    width: 100%;
    
  }
  .pluspop{
    margin:0;
    border-radius: 0px;
  }
  .icon-mobile{
    display: block;
  }

  .search{
    border: solid 1px white;
  }

  .search-text{
    display: none;
  }
  footer{
    background-color:gray;
    flex-direction: column;
    
    margin-left: 0;
  }

  .footer1{
    margin-left: 40px;
  }
  .footer2{
    margin-left: 40px;
  }

  .footer3{
    margin-left: 40px;
  }

  nav{
    flex-direction: column;
  }
  nav li {
    margin: 0 10px 0 20px;
    border-bottom:solid 0px gray;
    
  }

  nav ul a .hebergement{
    width: 100%;
    justify-content: center;
    font-size: 20px;
    border-bottom: solid 5px blue;
  }

  a:visited {
    color: blue;
  }
  
}